{% extends "base.html" %}

{% load static %}

{% block title %}Документы{% endblock %}

{% block content %}

    <div class="col py-3 xp-3 main-content">
        <h1 style="text-align: center">Документы</h1>
        HI<br>
        {#        {{ result }}#}
        {#                {{ documents }}<br>#}
        {#        {{ documents.file }}#}
        {#        {{ documents.file.path }}<br>#}
        {#        {{ documents.file.name }}<br>#}
        {#                {{ documents.file.url }}<br>#}
        {#        {{ documents.title }}<br>#}
        {#        {{ STATIC_URL }}<br>#}

        {% if user.is_admin %}
            <div style="text-align: center">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="form-control" type="file" name="upload_file">
                    <button class="btn btn-primary" type="submit">Загрузить документ</button>
                </form>
            </div>
        {% endif %}

        <div class="image-wrapper">
            {% if documents %}
                {% for document in documents %}
                    <div class="image-container">
                        <a href="{{ document.file.url }}" target="_blank">
                            <img class="image" src="{% static 'images/docx_img.jpg' %}" alt="images/docx_img.jpg">
                        </a>
                        <p>{{ document.title }}</p>
                        {% if user.is_admin %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" name="delete_file" value="{{ document.title }}" hidden>
                                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h2 style="text-align: center">Документов нет!</h2>
            {% endif %}
        </div>
    </div>

    {% include 'sidebar.html' %}

{% endblock %}
