{% extends "base.html" %}

{% block title %}Документы{% endblock %}

{% block content %}

    <div class="col py-3 xp-3 main-content">

        HI<br>
{#        {{ documents }}<br>#}
{#        {{ documents.file }}#}
        {{ documents.file }}<br>
        {{ documents.file.path }}<br>
        {{ documents.file.name }}<br>
        {{ documents.file.url }}<br>
        {{ documents.title }}<br>
        <a href="{{ documents.file.url }}">{{ documents.file.name }}</a><br>
{#        {% for document in documents %}#}
{#            <span>{{ document.title }} {{ document.file }} {{ document.pk }} {{ document.author_id__username }}</span>#}
{#            <a href="{{ document.file.url }}" download="{{ document.file.url }}">DOWNLOAD</a>#}
{#        {% endfor %}#}

    </div>

    {% include 'sidebar.html' %}

{% endblock %}
