{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="sidebar">
            {% include 'sidebar.html' %}
        </div>
    </div>

    <!-- Main content -->
    <div class="col py-3">
        {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    </div>

{% endblock %}