{% extends "base.html" %}

{% block title %}Лист проживающих{% endblock %}

{% block content %}

    <div class="col py-3 xp-3 main-content">
        <div class="col py-3 xp-3">

            <h2 style="text-align: center">Лист проживающих на {{ user.room_id.floor }} этаже
                секции {{ user.room_id.section }}</h2>
        </div>

        {% include "table_for_section_residents.html" %}

        <div class="col py-3 xp-3">
            <h2>Староста: {{ elder }}</h2>
            <h2>Заместитель: {{ assistant_elder }}</h2>
        </div>

    </div>

    {% include 'sidebar.html' %}



{% endblock %}