services:
  django:
    # Сборка образа для сервиса django из текущей директории
    build: .
    # Задание команды, которую нужно запустить при запуске контейнера для сервиса django
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/vkr
    # Открытие порта на хостовой машине и перенаправление на порт в контейнере
    ports:
      - 8000:8000
    # Зависимость от другого сервиса
    depends_on:
      - migrate
      - pgdb

  migrate:
    build: .
#    command: python manage.py makemigrations
    command: python manage.py migrate
    volumes:
      - .:/vkr
    depends_on:
      - pgdb

  pgdb:
    # Использование готового образа postgres
    image: postgres:15
    # Задание переменных окружения для контейнера с postgres
    env_file:
      - .env
     # Связывание тома с директорией в контейнере для сохранения данных postgres
    ports:
      - 5432:5432
    volumes:
      - pgdbdata:/var/lib/postgresql/data/


  pgadmin:
    image: dpage/pgadmin4:8.6
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@pgadmin.com
      PGADMIN_DEFAULT_PASSWORD: postgres
      PGADMIN_LISTEN_PORT: 80
    ports:
      - 15432:80
    volumes:
      - pgadmin:/var/lib/pgadmin
    depends_on:
      - pgdb

volumes:
  pgdbdata: null
  pgadmin: null