.duty_table {
    overflow: auto;
    max-width: 750px;
    height: 450px;
}

/*@media only screen and (min-width: 768px) {*/
/*    .duty_table {*/
/*          !*margin-left: 300px;*!*/
/*          !*margin-right: 300px;*!*/
/*    }*/
/*}*/
