<div class="table-responsive residents_table">
    <table id="residents-table"
           class="table table-sm table-condensed table-dark table-striped table-bordered text-center">
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>
                    {{ room }}
                </td>

                {% for room_section, user_of_room in residents.items %}
                    {% if room_section == room  %}
                        {% for user in user_of_room %}
                            <td>
                                {{ user }}
                            </td>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% for emtpy_room_section in empty_place_in_room %}
                    {% if emtpy_room_section.number == room %}
                        {% for cell in emtpy_room_section.capacity %}
                            <td style="color: lightslategray">
                                свободно
                            </td>
                        {% endfor %}

                        {% for cell in emtpy_room_section.no_room %}
                            <td style="color: dimgray">
                                нет места
                            </td>
                        {% endfor %}
                    {% endif %}

                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>