{# ✓ #}
<div class="duty_table">
{#    {{ duty_info }}#}
{#    <br>#}
{#    {% for room_duty, day_duty_list in duty_info.items %}#}
{#        {{ room_duty }}#}
{#        {{ day_duty_list }}#}
{#    {% endfor %}#}
    <table id="duty-table" class="table table-sm table-condensed table-dark table-striped table-bordered text-center">
        <thead class="thead-fixed">
        <tr>
            <th style="width: 10px">Комната\День</th>
            {% for room in rooms %}
                <th>{{ room }}</th>
            {% endfor %}
        </tr>

        <tbody style="table-layout: fixed;">

            {% for day in days %}
                <tr>
                    <td>
                        {{ day }}
                    </td>

                    {% for room in rooms %}
                        <td>
                            {% if not duty_info %}

                                <input type="checkbox" class="btn-check full-cell" id="{{ day }}-{{ room }}"
                                       name="{{ day }}-{{ room }}" autocomplete="off"
                                        {% if user.user_type_id.type != "Староста" and user.user_type_id.type != "ЗамСтаросты" %}
                                       disabled
                                        {% endif %}
                                >
                                <label class="btn btn-outline-primary" for="{{ day }}-{{ room }}">✓</label>
                            {% else %}

                                {% for room_duty, day_duty_list in duty_info.items %}
                                    {% if room_duty == room %}
                                        {% if day in day_duty_list %}
                                            <input type="checkbox" class="btn-check full-cell" id="{{ day }}-{{ room }}"
                                                   name="{{ day }}-{{ room }}" autocomplete="off"
                                                    {% if user.user_type_id.type != "Староста" and user.user_type_id.type != "ЗамСтаросты" %}
                                                   disabled
                                                    {% endif %}
                                                   checked
                                            >
                                            <label class="btn btn-outline-primary" for="{{ day }}-{{ room }}">✓</label>
                                        {% else %}
                                            <input type="checkbox" class="btn-check full-cell" id="{{ day }}-{{ room }}"
                                                   name="{{ day }}-{{ room }}" autocomplete="off"
                                                    {% if user.user_type_id.type != "Староста" and user.user_type_id.type != "ЗамСтаросты" %}
                                                   disabled
                                                    {% endif %}
                                            >
                                            <label class="btn btn-outline-primary" for="{{ day }}-{{ room }}">✓</label>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>